body {
  position: relative;
  & .modalContent {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1.5px);
    width: 100vw;
    height: 100vh;
    padding: 35px;
    border-radius: solid 2px red;
    & .contentMain {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      & .contentForm {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        & .formLogin {
          .icon {
            display: flex;
            width: 100%;
            justify-content: center;
            font-size: 150px;
            margin-bottom: 50px;
          }
          display: flex;
          backdrop-filter: blur(5px);
          border-radius: 35px;
          justify-content: center;
          align-items: center;
          width: 30%;
          height: 80%;
        }
        & .formRegister {
          .icon {
            display: flex;
            width: 100%;
            justify-content: center;
            font-size: 150px;
            margin-bottom: 50px;
          }
          display: flex;
          backdrop-filter: blur(5px);
          text-align: center;
          border-radius: 35px;
          justify-content: center;
          align-items: center;
          width: 30%;
          height: 80%;
        }

        & .interactive {
          background-color: blue;
          position: relative;
          position: absolute;
          width: 30%;
          height: 80%;
          border-radius: 35px;
          transition: all 0.5s ease;
          & #logRClosed {
            position: absolute;
            text-decoration: none;
            top: 0%;
            right: 5%;
            color: white;
            font-size: 50px;
            font-weight: bold;
          }
        }
        & .initialR {
          
          right: 20%;
        }
      }
    }
  }
  & .initial_disabled {
    pointer-events: none;
    display: none;
  }
  & .action_look {
    pointer-events: all;
    display: block;
    z-index: 2;
  }
}