@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto Condensed", sans-serif;   
}

header{
    font-weight: bold;
    color: #fff;
}

.active{
    color: #FC9779 !important;
}

.navbar-collapse{
    flex-grow: 0 !important;
}

.nav-link:hover{
    color: #FC9779 !important;
}
