@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto Condensed", sans-serif;   
}

header{
    font-weight: bold;
    color: #fff;
}

.active{
    color: #FC9779 !important;
}

.navbar-collapse{
    flex-grow: 0 !important;
}

.nav-link:hover{
    color: #FC9779 !important;
}

.titleNewletter{
    font-size: 3rem;
    font-weight: bolder;
}

.bg-newsletter{
    background: #FC9779;
    position: relative;
}

.bg-newsletter::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 36%;
    border: 9px solid #fff;
    z-index: 2;
}

.bg-newsletter::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 36%;
    border: 9px solid #fff;
    z-index: 2;
}

#email-newsLetter{
    border-radius: 0%;
}

.subscribe{
    background: #FC9779;
    transition: 0.5s;
}
.subscribe:hover {
    background-color: black;
    color: #FC9779;
    
}